<nav class="navbar navbar-expand-lg" style="background-color: #00a362">
  <div class="container-fluid">
    <img alt="MCS Logo" src="../assets/logo.jpg" />
    <a class="navbar-brand spacing m-3" href="#" style="color: white"
      >Generar Turno</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 spacing-m-10 position-absolute end-0"
        style="align-items: center"
      >
        <li>
          <ng-container>
            <div
              style="
                color: white;
                position: relative;
                margin-top: -8px;
                margin-right: 20px;">
              <span class="text-menu spacing m-2">user</span>
              <i class="bi bi-person-badge" style="font-size: 20px;"></i>
            </div>
          </ng-container>

        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
