<div class="position-relative spacing m-4">
  <div class="position-absolute top-0 start-50 translate-middle">
    <img src="../../../assets/logo.jpg" />
  </div>
</div>

<br/>
<br/>
<br/>


<div class="">
  <form [formGroup]="formSave"  class="form theme-form">
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="exampleFormControlInput1">Nombre*</label>
                      <input type="text" class="form-control" placeholder="Ingresa tu nombre"
                      aria-describedby="basic-addon1" id="names" formControlName="names">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                <div class="form-group">
                  <label >Área*</label>
                  <select class="form-control" id="area" formControlName="area">
                    <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label >Trámite*</label>
                <select class="form-control" id="type" formControlName="type">
                  <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                </select>
              </div>
            </div>
        </div>
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="exampleFormControlTextarea4">Observación*</label>
                      <textarea class="form-control" rows="3"
                      id="observations" formControlName="observations"></textarea>
                  </div>
              </div>
          </div>
      </div>


      <div  style="float: right;">
          <button class="btn" style="background-color: #3d9105; color:white" type="submit" (click)="send()" [disabled]="!this.formSave.valid">Generar</button>
          <input class="btn btn-danger ml-1" type="reset" value="Limpiar">
      </div>

  </form>
</div>


<div class="container mt-5">

  <table class="table display" id="tableAssesment">
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Area</th>
        <th scope="col">Trámite</th>
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
        let item of tickets">
        <td>{{ item.names}}</td>
        <td>{{ item.area.name}}</td>
        <td>{{ item.type.name}}</td>
        <td>{{ item.observations}}</td>
        <td>
          <!--
       <button class="btn btn-outline-success" (click)="showParticipants(item.interviewerId, item.versionId)">View
          </button>
-->
        </td>
      </tr>
    </tbody>
  </table>

</div>
